.focusTopTitle {
  display: flex;
  justify-content: space-between;
  width: 1168px;
}

.focusTitleFont {
  font-size: 32px;
  font-weight: 800;
  color: #414141;
}
.focusTopBtCon {
  display: flex;
  gap: 16px;
}
.focusButtonTop {
  height: 48px;
  border-radius: 15px;
  border: 1px solid #dddddd;
  color: #818181;
  background-color: #ffffff;
  padding: 12px 24px 12px 24px;
  cursor: pointer;
}
.focusButtonTop:hover {
  background-color: #4caf50;
  color: #fff;
}
@media screen and (max-width: 744px) {
  .focusTopTitle {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .focusTopTitle {
    flex-direction: column;
    gap: 20px;
  }
}
