
/* 습관 리스트 섹션 */
.habits-list {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  padding: 20px;
  border: 1px solid #DDDDDD; 
  width: 1168px;
  min-height: 631px;
  background-color: white;
  border-radius: 20px;
  margin: 20px auto; 
}

.habits-list h2 {
  font-size: 20px;
}

.habit-item {
  width: 400px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee; 
  color: #818181; 
  margin: 10px 0;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s; 
}

.habit-item.selected {
  background-color: #99c08e; 
  color: #ffffff;
}

.habits-list {
  border: 1px solid #DDDDDD; 
}

.habits-header {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 20px; 
  width: 100%; 
}

.habit-title {
  font-size: 24px;
  font-weight: 800;
  line-height: 28.64px;
  margin-left: 510px;
}

.edit-button {
  padding: 8px 16px; 
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: #818181;
  background-color: transparent;
  cursor: pointer;
  margin-right: 361px;
}


.edit-button:hover {
  color: #000; 
}