.cards {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.cards .card {
  width: 358px;
  height: 243px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 24px;
  position: relative;
}
.cards .card.green {
  background-color: var(--green_e1edde);
}
.cards .card.green .top h3 span {
  color: var(--green_text_578246);
}
.cards .card.yellow {
  background-color: var(--yellow_fff1cc);
}
.cards .card.yellow .top h3 span {
  color: var(--yellow_text_c18e1b);
}
.cards .card.blue {
  background-color: var(--blue_e0f1f5);
}
.cards .card.blue .top h3 span {
  color: var(--blue_text_418099);
}
.cards .card.pink {
  background-color: var(--pink_fde0e9);
}
.cards .card.pink .top h3 span {
  color: var(--pink_text_bc3c6a);
}
.cards .card.bg1 {
  background: url(/public/img/bg1.jpg) no-repeat center;
  background-size: cover;
}
.cards .card.bg2 {
  background: url(/public/img/bg2.jpg) no-repeat center;
  background-size: cover;
}
.cards .card.bg3 {
  background: url(/public/img/bg3.jpg) no-repeat center;
  background-size: cover;
}
.cards .card.bg4 {
  background: url(/public/img/bg4.jpg) no-repeat center;
  background-size: cover;
}

.cards .card.mbn {
  margin-bottom: 24px;
}
.cards .card:nth-of-type(3n) {
  margin-right: 0;
}
.cards .card .inner {
  height: 100%;
  padding: 30px;
}
.cards .card .cover {
  background-color: rgba(0, 0, 0, 0.5);
}
.cards .card .navigate {
  text-align: left;
  background-color: transparent;
  cursor: pointer;
}
.cards .card .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.cards .card .top h3 {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  color: var(--black_414141);
}
.cards .card .cover .top h3 {
  color: #fff;
}
.cards .card .top h3 span {
  margin-right: 1px;
}
.cards .card .top .point {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  min-width: 86px;
  padding: 0 5px;
  height: 22px;
}
.cards .card .top .point img {
  margin-right: 4px;
}
.cards .card .top .point p {
  color: var(--black_414141);
  font-weight: 500;
  font-size: 12px;
}
.cards .card .cover .top .point {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}
.cards .card .cover .top .point p {
  color: #fff;
}
.cards .card .top .point p span {
  margin-right: 0.5px;
}
.cards .card .inProgress {
  color: var(--gray_818181);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
}
.cards .card .cover .inProgress {
  color: #fff;
}
.cards .card .content {
  font-size: 16px;
  font-weight: 400;
  color: var(--black_414141);
}
.cards .card .cover .content {
  color: #fff;
}
.cards .card .emojis {
  display: flex;
  position: absolute;
  bottom: 30px;
}
.cards .card .emojis .emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 48px;
  width: auto;
  padding: 0 5px;
  height: 26px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  margin-right: 5px;
}
.cards .card .emojis .emoji .emojiType {
  margin-right: 5px;
}
.cards .noList {
  font-size: 20px;
  font-weight: 500;
  color: var(--gray_818181);
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
