@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 65.5px;
  font-family: pretendard;
}

.focusWrap {
  background-color: #ffffff;
  border-radius: 20px;
  max-width: 1248px;

  padding: 40px;
  margin-top: 53.5px;
}
.focusContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.focusTop {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.focusFlexCon {
  display: flex;
  flex-direction: column;
  width: 176px;
  gap: 8px;
}
.grayFont {
  color: #818181;
  font-size: 18px;
  font-weight: 400;
}
.focusMainWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dddddd;
  border-radius: 20px;
  padding: 40px 24px 40px 24px;
  gap: 10px;
}
.pauseMessage {
  background-color: #fde0e9;
  color: #f50e0e;
}

.doneMessage {
  background-color: #e1edde;
  color: #578246;
}
