.cards {
  display: flex;
}
.cards .card {
  width: 358px;
  height: 243px;
  border-radius: 20px;
  overflow: hidden;
  padding: 30px;
  background-color: var(--green_e1edde);
  margin-right: 24px;
}
.cards .card:nth-of-type(3n) {
  margin-right: 0;
}
.cards .card .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.cards .card .top h3 {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
}
.cards .card .top h3 span {
  color: var(--green_text_578246);
  margin-right: 1px;
}
.cards .card .top .point {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  min-width: 86px;
  height: 22px;
}
.cards .card .top .point img {
  margin-right: 4px;
}
.cards .card .top .point p {
  color: var(--black_414141);
  font-weight: 500;
  font-size: 12px;
}
.cards .card .top .point p span {
  margin-right: 0.5px;
}
.cards .card .inProgress {
  color: var(--gray_818181);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
}
.cards .card .content {
  font-size: 16px;
  font-weight: 400;
  color: var(--black_414141);
}
.cards .card .emogis {
  display: flex;
}
.cards .card .emogis .emogi {
  display: flex;
}
