.focusTimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 94px;
}
.timerDiv {
  font-size: 150px;
  font-weight: 800;
  line-height: 179px;
}
.timerStartBt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 333px;
  height: 60px;
  border-radius: 50px;
  border: 0;
  background-color: #99c08e;
  color: #ffffff;
  cursor: pointer;
  font-size: 28px;
  font-weight: 800;
  line-height: 33.41px;
}
.timerBtContents {
  display: flex;
  align-items: center;
  gap: 16px;
}
.focusStartBtImg {
  width: 44px;
  height: 44px;
}
.timerInput {
  font-size: 150px;
  font-weight: 800;
  line-height: 179px;
  color: #414141;
  width: 400px;
  height: 200px;
  text-align: center;
  border: none;
  outline: none;
}
.timerBtCon {
  display: flex;
  gap: 24px;
  align-items: center;
}
.focusPauseBtImg {
  width: 35.2px;
  height: 35.2px;
}

.timerSideBt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  border: 0;

  cursor: pointer;
}
.pause {
  background-color: #578246;
}

.runningStartBt {
  background-color: #818181;
  cursor: not-allowed;
}

.restart {
  background-color: #99c08e;
}
